header {
  background-color: #FFD700;

  & .header-container {
    display: flex;
    align-items: center;
    gap: var(--py-md);
    padding-block: var(--py-md);

    & .logo {
      width: 200px;
      padding-inline: var(--px-xl);
    }

    & .input-wrapper {
      display: flex;
      width: 100%;
      flex: 1;
      background-color: #ffffff;
      border-radius: 8px;

      & input {
        width: 100%;
        outline: none;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 5px;
      }

      & img {
        width: 35px;
        padding: 5px;
      }
    }

    & nav {
      flex: 1;

      & ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem; /* Espaçamento entre eles */
        padding-inline: var(--px-xl);
        margin: 0;
      }
    }

    & .carrinho {
      width: 40px;
    }
  }
  & .header-bottom {
    width: 100%;
    border-top: 3px solid #ecc800;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    & .img-wrapper {
      background-color: #ffff;
      width: 100px;
      height: 100px; /* adicione se quiser que o círculo tenha altura igual à largura */
      border: 3px solid #ebdb2c;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  img {
    max-width: 80%;
    height: auto;
  }
}
/* Link para Voltar para pagina de inicio*/
.botao-voltar-pagina-inicio{
    margin-left: 12%;
    margin-top:10px;
    margin-bottom: 40px;
 }
 .link-botao-voltar-inicio{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
 }
