header {
  background-color: #fff159;
  & .header-content {
    display: flex;
    justify-content: space-between;

    & .logo {
      width: 200px;
    }

    & .input-wrapper {
      display: flex;
      flex: 1;
    }

    & nav {
      flex: 2;

      & ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
      }
    }
  }
}

img {
  width: 100%;
  display: inline-block;
}
