.section-produto-semana{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px auto 60px auto;
    width: 1200px;


}
@media(max-width: 768px){
    .section-produto-semana{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 50%;

    }
    .section-produto-box{
        width: 180px;
        height: 320px;
    }

}

.titulo-oferta-semana{
    display: block;
    justify-content: flex-start;
}
.section-imagem-produto-semana{
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: 25px 10px 20px 10px;
}
.section-produto-box{
    width: 244px;
    height: 435px;
    border: solid #e1e1e1 2px;
    border-radius: 20px;
    box-shadow:  #e7e7e7 2px 4px 5px;
}
.section-produto-box:hover{
    transform: scale(1.03);
    box-shadow: #e7e7e7 3px 4px 5px;
    transition: 0.2s;
}
.section-caixa-oferta-semana{
    display: flex;
    justify-content: center;
    background-color: #6969ff;
    color: white;
    padding: 1px 2px 1px 2px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.7em;
    width: 105px;
}
.section-nome-produto-semana h3{
    font-size: 1.6em;
    margin:10px 0px 15px 0px;
}
.descricao-produto{
    margin: 20px;
}
.preco-produto-original{
    color: #808080;
}
.preco-produto-com-desconto{
    display: flex;

}
.preco-produto-inteiro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.preco-produto-fracionado{
    font-size: 0.8em;
    margin: 4px 0px 0px 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.desconto-preco-produto{
    color: rgb(36, 196, 0);
    margin: 4px 0px 0px 20px;

}

.section-link-produto{
    color: black;
}
.section-link-produto:hover{
    color: rgb(4, 4, 83);
}
.titulo-oferta-semana{
    padding-left: 90px;
}
